<section class="our-apps-section container-fluid py-5">
  <div class="container">
    <h2 class="text-center mb-5" i18n="@@ourAppsTitle">Our Applications</h2>

    <div class="row justify-content-center g-4">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let app of apps">
        <div class="app-card mat-elevation-z2">
          <div class="app-card-header">
            <mat-icon *ngIf="app.icon" class="app-icon">{{ app.icon }}</mat-icon>
            <h3 class="app-name" i18n="@@appName_{{app.name}}">{{ app.name }}</h3>
          </div>
          <p class="app-description" i18n="@@appDescription_{{app.name}}">{{ app.description }}</p>
          <div class="app-platforms">
            <span class="platform-label" i18n="@@availableOn">Available on:</span>
            <mat-icon *ngFor="let platform of app.platforms" class="platform-icon" [attr.aria-label]="platform">
              {{ getPlatformIcon(platform) }}
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <p class="more-projects-text mb-3" i18n="@@moreProjectsText">{{ moreProjectsText }}</p>
      <a [routerLink]="ctaLink" mat-raised-button color="primary" i18n="@@exploreAllProjectsButton">
        {{ ctaText }}
      </a>
    </div>
  </div>
</section>