section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    hsla(
      var(--bulma-primary-h),
      var(--bulma-primary-s),
      var(--bulma-primary-l),
      0.15
    ),
    hsla(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l), 0.15)
  );
}
