<section id="hero" class="pt-6 pb-6">
  <div class="container is-max-widescreen py-6">
    <div class="is-flex is-flex-direction-column is-align-items-center block mt-6">
      <div class="box is-centered ">
        <img src="image/nav/logo.png" alt="AppOutlet Logo" class="image is-centered" width="100">
      </div>
    </div>


    <h1 class="title is-1 has-text-centered block">AppOutlet</h1>

    <p class="title is-4 has-text-centered block pt-3 px-3" i18n>
      Crafting exceptional mobile and desktop applications that work everywhere with <span class="brand-gradient-text">stunning design</span>
    </p>

    <p class="has-text-centered block px-4">We create beautiful, high-performance applications that work seamlessly on
      phones,
      tablets, and computers, delivering consistent experiences across all your devices.</p>

    <div class="is-flex is-flex-direction-row is-centered is-justify-content-center mb-4">

      <a class="button mt-5 mr-5 brand-gradient" href="#portifolio">
        <i class="ph ph-arrow-up-right mr-2 has-text-white"></i>
        <strong class="has-text-white">
          View our work
        </strong>
      </a>

      <a class="button mt-5" href="#services">
        <i class="ph ph-code-simple mr-2"></i>
        <strong>
          Our services
        </strong>
      </a>

    </div>

  </div>

</section>
