.animated-background {
  background: linear-gradient(45deg, #4f46e5, #8b5cf6, #4f46e5, #8b5cf6);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}