<section id="services" class="py-6">
  <div class="container px-4">


    <h2 class="title is-2 px-3 has-text-centered mt-6"  i18n>Our services</h2>
    <p class="subtitle px-3 pt-2 has-text-centered"  i18n>We offer complete solutions from initial concept to final launch,
      ensuring your application
      stands out and succeeds in today's competitive market.</p>

    <div class="columns block my-6">
      @for (item of services; track $index) {
      <div class="column">

        <div class="card">
          <div class="card-content content is-flex is-flex-direction-column">

            <span class="rounded-icon block is-align-self-center">
              <i class="ph {{ item.icon }}"></i>
            </span>

            <p class="title is-5" i18n>{{ item.title }}</p>
            <p class="block" i18n>{{ item.description }}</p>
            <ul class="block">
              @for (feature of item.features; track $index) {
              <li i18n>{{ feature }}</li>
              }
            </ul>
          </div>
        </div>

      </div>
      }
    </div>

  </div>
</section>
