<section id="blog" class=" brand-gradient-light pb-6">
  <div class="container px-4 py-6">
    <h2 class="title is-2 has-text-centered mt-6">Latest Insights & Updates</h2>
    <p class="subtitle mt-2 has-text-centered">Stay updated with the latest trends in app development, technology
      insights, and behind-the-scenes looks at how we build amazing applications.</p>
  </div>

  <div class="columns pb-6 pt-4 px-4">
    @for (post of posts; track $index) {
    <div class="
          column
          is-full-mobile
          is-half-tablet
          is-one-third-desktop
          is-one-third-widescreen
          is-one-quarter-fullhd
      ">
      <div class="card">
        <div class="card-image">
          <figure class="image is-2by1">
            <img [src]="post.coverImage.url" alt="{{ post.title }} cover image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>{{ post.publishedAt | date:'longDate'}}</p>
            <p class="title is-5"> {{ post.title }}</p>
            <p>{{ post.brief }}</p>
          </div>

          <a [href]="post.url" target="_blank" class="button">
            <i class="ph ph-arrow-up-right mr-2"></i>
            Read more
          </a>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="has-text-centered">
    <a href="https://blog.appoutlet.dev" class="button is-medium">
      <i class="ph ph-article-ny-times mr-2"></i>
      Visit The AppOutlet blog
    </a>
  </div>


</section>
