h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
}

.illustration {
  width: 100%;
  filter: drop-shadow(0 8px 32px rgba(0, 0, 0, 0.1)) drop-shadow(0 1.5px 6px rgba(0,0,0,0.1));
}

