<section id="hero" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 i18n class="brand-gradient-text">Crafting Seamless Digital Experiences</h1>
        <p i18n>AppOutlet is a dynamic software development studio dedicated to turning innovative ideas into high-quality,
          cross-platform applications.</p>
      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="image/home/hero/illustration.svg" alt="Hero Image" class="illustration">
      </div>
    </div>
  </div>
</section>
