@use "../../../../../styles/variables" as var;

#hero {
  text-align: center;

  @media screen and (min-width: var.$mobile) {
    text-align: left;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.illustration {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto 0;
  filter: drop-shadow(0 8px 32px rgba(0, 0, 0, 0.1)) drop-shadow(0 1.5px 6px rgba(0,0,0,0.1));

  @media screen and (min-width: var.$mobile) {
    margin: 0;
    max-width: 100%;
  }
}