<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="image/nav/logo.png" alt="AppOutlet Logo">
      <span class="title is-4">AppOutlet</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-menu"
      [class.is-active]="isActive" (click)="toogleActive()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-menu" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-end">
      <a href="#hero" class="navbar-item" i18n>Home</a>
      <a href="#services" class="navbar-item" i18n>Services</a>
      <a href="#technology" class="navbar-item" i18n>Technology</a>
      <a href="#portifolio" class="navbar-item" i18n>Portifolio</a>
      <a href="#blog" class="navbar-item" i18n>News</a>
      <a href="#contact" class="navbar-item" i18n>Contact</a>



      <div class="navbar-item">
        <div class="buttons">
          <a class="button brand-gradient" href="#contact">
            <span class="has-text-white" i18n>
              <i class="ph ph-rocket-launch mr-1"></i>
              Start your project
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
