<section id="portifolio" class="py-6">
  <div class="container py-6 px-4">
    <h2 class="title is-2 mt-6 has-text-centered">Our applications</h2>
    <p class="subtitle mt-3 has-text-centered ">Explore our published applications that showcase our ability to create
      high-quality solutions that work beautifully on any device.</p>

    <div class="columns pt-6">

      @for (project of projects; track $index) {
      <div class="column mx-4">

        <div class="card">
          <div class="card-header brand-gradient py-3 px-5">
            <img [src]="project.logo" alt="{{ project.title }} logo" height="128" width="128">
            <div class="pl-3 mt-5">
              <p class="title white">{{ project.title }}</p>
              <div class="subtitle pt-2">
                <p class="tag is-primary is-light">{{ project.status }}</p>
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="content">

              <p>{{ project.description }}</p>

              <div class="block tags">
                @for (tech of project.tech; track $index) {
                <span class="tag is-primary is-link is-light ">{{ tech }}</span>
                }
              </div>

              <a [href]="project.link" target="_blank" class="button">
                <i class="ph {{ project.linkIcon }} mr-2"></i>
                {{ project.linkText }}
              </a>

            </div>
          </div>

        </div>

      </div>
      }
    </div>

    <p class="title mt-6">Our open-source libraries</p>

    <div class="columns px-2 is-multiline is-mobile">
      @for (library of libraries; track $index) {
      <div class="
          column
          is-full-mobile
          is-half-tablet
          is-half-desktop
          is-one-third-widescreen
          is-one-quarter-fullhd
      ">
        <div class="card">
          <div class="card-header">

            <p class="card-header-title title is-4">
              <i class="ph ph-github-logo mr-2"></i>
              {{ library.name}}
            </p>

          </div>

          <div class="card-content">
            <div class="content">
              {{ library.description }}
            </div>

            <a [href]="library.link" target="_blank" class="button is-fullwidth">
              <i class="ph ph-scroll mr-2"></i>
              Read the docs
            </a>
          </div>
        </div>
      </div>
      }
    </div>

    <p class="subtitle has-text-centered">... and much more comming!</p>
  </div>
</section>
