name: Deploy Angular Website

on:
  push:
    branches:
      - main

jobs:
  build-website:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Angular app
        run: pnpm run build

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/appoutlet/browser

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-website
    permissions:
      pages: write      # to deploy to Pages
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
